@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="carousel slide" id="mainCarousel" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/Vo-Gia-Cu-3.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="Banner 1">

            <div class="carousel-caption">
                <h3>"Chúng tôi cùng với bạn, trên hành trình kiếm tìm hạnh phúc"</h3>
                <a href="#" class="btn btn-primary">Kiểm Tra Đóng Góp</a>
                <a href="#" class="btn btn-secondary">Trở Thành Đối Tác</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/VGC1..jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="Banner 1">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div class="container text-center my-5">
    <h2>Chương Trình Nổi Bật</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/VGC2.jpg" class="img-fluid">
            <h5>Hỗ trợ người già neo đơn</h5>
        </div>
        <div class="col-md-4">
            <img src="~/images/VGC1..jpg" class="img-fluid">
            <h5>Quỹ hỗ trợ người vô gia cư</h5>
        </div>
        <div class="col-md-4">
            <img src="~/images/VGC2.jpg" class="img-fluid">
            <h5>Hỗ trợ thực phẩm</h5>
        </div>
    </div>
</div>
